.register-container {
    width: 50%;
    height: 100vh;
  }
  .register-inter{
    height: -webkit-fill-available;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .register-name{
    width: 100%;
    text-align: center;
    height: 40px;
  }
  .register-name span{
    font-size: xx-large;
    font-family: ui-rounded;
  }
  .register-inter{
    width: 100%;
  }
  .register-input{
    height: 50vh;
    display: grid;
    justify-items: center;
  }
  .register-input input {
    width: 97%;
    padding: 10px;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .register-input button{
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .register-input button:hover{
    cursor: pointer;
  }
